@model PRutCun.Models.Mapas
@{
    ViewData["Title"] = "Rutcun";
    Layout = "_LayoutDashboard";
}

<div class="contenedor">


    <br></br>
    <br></br>
    <br></br>

    <p class="TextMap"> Mapa con Ruta</p>
    <iframe class="mapa" src="@Html.DisplayFor(x=>x.MapaUrl)" width="640" height="480"></iframe>

    <div>
        <div class="contenerdor__combos">
            <p class="TextSel"> Rutas</p>
            <form asp-action="Mapa" method="post">
                <select class="Combo1" asp-for="Fktrasportes" asp-items="ViewBag.Transporte">

                    <option value=""></option>
                </select>
                <button id="btnEnviar" type="submit">zzz</button>
            </form>

        </div>

    </div>

@*    <div class="textoInfo">
@*        <p>@Html.DisplayFor(x => x.Trasporte.Nombre)</p>
        <p>@Html.DisplayFor(x => x.Trasporte.HoraInicial)</p>
        <p>@Html.DisplayFor(x => x.Trasporte.HoraFinal)</p>
        <p>@Html.DisplayFor(x => x.Trasporte.Dia)</p>
        <p>@Html.DisplayFor(x => x.Trasporte.Estatus)</p>
    </div>*@
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>